.header{
    color: white;
    height: 6 rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div {
    margin: 0.625;
}

.logoContainer{

}

.punkLogo {
    width: 12rem;
}

.searchInput {

}