.header{
    color: white;
    height: 6 rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div {
    margin: 0.625rem;
}


.punkLogo {
    width: 12rem;
}

.kendrickLogo {
    width: 3rem;
    border-radius: 50px;
    border: 3px solid #1c1c1e;
    justify-content: center;
    align-items: center;
}

.searchBar {
    background-color: #1c1c1e;
    height: 3.125rem;
    flex: 1;
    display: flex;
    border-radius: 3.125rem;
    align-items: center;
}

.searchIconContainer {
    margin: 0.8rem;
    align-items: center;
}

.searchInput {
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: #eee;
    font-size: 16px;
}

.headerItems {
    display: flex;
    color: #a1a5b0
}

.headerItems > p {
    margin: 0.625rem;
}

.headerActions {
    display: flex;
    align-items: center;
}


.headerActions > div{
    margin: 0.625rem;
}

.themeSwitchContainer {
    display: flex;
    background-color: #1c1c1e;
    border-radius: 50px;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.themeSwitchContainer > img {
    height: 1.6rem;
}

.loginButton{
    background: rgb(235,247,255);
    background: linear-gradient(90deg, rgba(235,247,255,1) 52%, rgba(255,206,206,1) 100%);
}